<footer class="bg-white dark:bg-gray-900">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href="https://flowbite.com/" class="flex items-center">
          <img
            src="../../../../assets/1-removebg-preview.png"
            class="h-12 me-3"
            alt="Logo"
          />
          <span
            class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
            >MTT</span
          >
        </a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Resources
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a href="https://flowbite.com/" class="hover:underline"
                >Flowbite</a
              >
            </li>
            <li>
              <a href="https://tailwindcss.com/" class="hover:underline"
                >Tailwind CSS</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Follow us
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a
                href="https://github.com/themesberg/flowbite"
                class="hover:underline"
                >Github</a
              >
            </li>
            <li>
              <a href="https://discord.gg/4eeurUVvTy" class="hover:underline"
                >Discord</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Legal
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">Privacy Policy</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Terms &amp; Conditions</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <app-heading heading="Contact Info"></app-heading>

    <div
      class="mt-5 md:p-5 contact-info flex md:flex-row flex-col gap-3 md:gap-10 md:justify-center md:items-center"
    >
      <div class="flex justify-start items-start gap-2 sm:w-[200px] md:w-fit text-wrap">
        <i class="fa-solid fa-location-dot"></i>
        {{ links.address }}
      </div>
      <a
        [href]="links.facebbook ? links.facebbook : '/'"
        class="flex justify-center items-center gap-2 w-fit"
      >
        <i
          class="fa-brands text-xl fa-facebook text-blue-900 hover:-translate-y-1 hover:text-blue-800"
        ></i>
        facebook
      </a>
      <a
        [href]="links.instagram ? links.instagram : '/'"
        class="flex justify-center items-center gap-2 w-fit"
      >
        <i
          class="fa-brands text-xl fa-instagram text-red-500 hover:-translate-y-1 hover:text-red-600"
        ></i>
        Instagram
      </a>

      <a
        [href]="links.google ? links.google : '/'"
        class="flex justify-center items-center gap-2 w-fit"
      >
        <i
          class="fa-brands text-xl fa-google text-red-500 hover:-translate-y-1 hover:text-red-500"
        ></i>
        Google
      </a>

      <a
        [href]="links.youtube ? links.youtube : '/'"
        class="flex justify-center items-center gap-2 w-fit"
      >
        <i
          class="fa-brands text-xl fa-youtube text-red-600 hover:-translate-y-1 hover:text-red-500"
        ></i>
        Youtube
      </a>

      <a
        class="flex justify-center items-center gap-2 w-fit"
        [href]="'https://wa.me/' + links.whatsapp"
        target="_blank"
        class="btn btn-primary"
      >
        <i
          class="fa-brands text-xl fa-whatsapp text-green-400 hover:-translate-y-1 hover:text-green-500"
        ></i>
        Whatsapp
      </a>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
        Designed and developed by
        <a [href]="'https://wa.me/7006770232'" target="_blank"
          >
          <i class="text-green-400 fa-brands fa-whatsapp"></i>
          Rahil Riyaz</a
        >

        <div class="ms-4">
          <i class="fa-solid fa-phone"></i> (7006770232)
          <i class="fa-solid fa-envelope"></i> rahilriyaz27&#64;gmail.com
        </div>
      </span>
    </div>
  </div>
</footer>
