<app-alert text="If images are not visible please reload the page"></app-alert>
<section
  class="flex justify-center items-center flex-wrap md:relative md:right-[200px] top-[0px]"
>
  <div class="bg w-[100%] md:w-[70%] min-h-screen h-auto">
    <div
      id="controls-carousel"
      class="relative w-[100%] mt-5"
      data-carousel="sldie"
    >
      <!-- Carousel wrapper -->
      <div
        class="relative h-56 overflow-hidden rounded-tl-lg rounded-tr-lg md:h-96"
      >
        @for (file of packageDetails.files; track $index) {

        <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src="{{ basePath + file.filePath }}"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="if images ae not visible please reload the page"
          />
        </div>
        }
      </div>
      <!-- Slider controls -->
      <button
        type="button"
        class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
          <svg
            class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 1 1 5l4 4"
            />
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>
      <button
        type="button"
        class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
          <svg
            class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"
            />
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
    </div>

    <div
      class="details flex flex-wrap p-5 gap-5 border shadow-xl rounded-bl-lg rounded-br-lg"
    >
      <div class="left w-[100%] md:w-[60%]">
        <div class="places">
          <h1 class="text-[#064b89] font-semibold text-xl">Places Covered:</h1>
          @for (destinationName of packageDetails!.destinationsWithHotels; track
          $index) {
          <small class="font-serif text-[cadetblue] text-bold me-2"
            >{{ destinationName.name }}
            <i class="fa-solid fa-angles-right" style="color: cadetblue"></i>
          </small>
          } @empty {
          <span class="w[100%] mx-auto text-red-500">Places not mentioned</span>
          }
        </div>

        <div class="description mt-3">
          <h1 class="text-[#064b89] font-semibold text-xl">
            Tour Description:
          </h1>

          {{ packageDetails.package.description }}
        </div>
      </div>
      <div class="right w-[100%] md:w-[30%]">
        <div class="duration">
          <h1 class="text-[#064b89] font-semibold text-xl">Duartion:</h1>
          <p>
            <i class="fa fa-solid fa-moon text-[#064b89]"></i>
            {{ packageDetails!.package!.nights }} Nights/{{
              packageDetails!.package!.days
            }}
            Days
          </p>
        </div>
        <div class="package-cost mt-3">
          <h1 class="text-[#064b89] font-semibold text-xl">Package Cost:</h1>
          <p>
            Staring From:
            {{ packageDetails.package.startingPrice | currency : "INR" }}
          </p>
          <small>(Customize this tour as per your requirements)</small>
        </div>
      </div>
    </div>

    <div class="dat-wise-itinerary shadow-xl mt-5 p-5">
      <h1 class="text-[#064b89] font-semibold text-xl mt-5 ms-2 mb-2">
        Daywise Tour Itinerary:
      </h1>
      <div class="itenraries">
        <div id="accordion-collapse" data-accordion="collapse">
          @for (itinerary of packageDetails.itineraries; track $index ) {
          <h2 id="accordion-collapse-heading-{{ itinerary.id }}">
            <button
              (click)="toggle(div, icon)"
              type="button"
              class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
              [attr.data-accordion-target]="
                '#accordion-collapse-body-{{itinerary.id }}'
              "
              aria-expanded="false"
              [attr.aria-controls]="'accordion-collapse-body-{{itinerary.id }}'"
            >
              <span> Day {{ itinerary.day }}: {{ itinerary.title }} </span>
              <i class="fa-solid fa-caret-down" #icon></i>
            </button>
          </h2>
          <div
            #div
            id="accordion-collapse-body-{{ itinerary.id }}"
            class="hidden"
            [attr.aria-labelledby]="
              'accordion-collapse-heading-{{itinerary.id }}'
            "
          >
            <div
              class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900"
            >
              <p class="mb-2 text-gray-500 dark:text-gray-400">
                {{ itinerary.description }}
              </p>
            </div>
          </div>
          } @empty {
          <span class="w[100%] mx-auto text-red-500"
            >Itineraries not mentioned</span
          >
          }
        </div>
      </div>
      <hr />
    </div>

    <div class="tour-price shadow-cl mt-5 p-5 mb-2">
      <h1 class="text-[#064b89] font-semibold text-xl mt-5 ms-2 mb-2">
        Tour Price:
      </h1>
      <div class="relative overflow-x-auto">
        <table
          class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
        >
          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
          >
            <tr>
              <th scope="col" class="px-6 py-3">Destinations</th>
              <th scope="col" class="px-6 py-3">Standard Hotels</th>
              <th scope="col" class="px-6 py-3">Deluxe Hotels</th>
              <th scope="col" class="px-6 py-3">Super Deluxe Hotels</th>
              <th scope="col" class="px-6 py-3">Stay</th>
            </tr>
          </thead>
          <tbody>
            @for (destination of packageDetails.destinationsWithHotels; track
            $index) {
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                {{ destination.name }}
              </th>
              <td class="px-6 py-4">
                @for (hotel of destination.standardHotels; track $index) {
                {{ hotel.name }}
                <span
                  [class.hidden]="
                    $index === destination.standardHotels.length - 1
                  "
                  >/</span
                >
                } @empty { Not mentioned }
              </td>
              <td class="px-6 py-4">
                @for (hotel of destination.deluxeHotels; track $index) {
                {{ hotel.name }}
                <span
                  [class.hidden]="
                    $index === destination.deluxeHotels.length - 1
                  "
                  >/</span
                >} @empty { Not mentioned }
              </td>
              <td class="px-6 py-4">
                @for (hotel of destination.superDeluxeHotels; track $index) {
                {{ hotel.name
                }}<span
                  [class.hidden]="
                    $index === destination.superDeluxeHotels.length - 1
                  "
                  >/</span
                >
                } @empty { Not mentioned }
              </td>
              <td>{{ destination.stay }}</td>
            </tr>
            } @empty {
            <span class="w[100%] mx-auto text-red-500"
              >Tour price not mentioned</span
            >
            }
          </tbody>
        </table>
      </div>
    </div>

    <div class="tour-costing shadow-xl p-5">
      <h1 class="text-[#064b89] font-semibold text-xl mt-5 ms-2 mb-2">
        Tour Costing:
      </h1>
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table
          class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 mt-5"
        >
          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
          >
            <tr>
              <th scope="col" class="px-6 py-3">Package</th>
              <th scope="col" class="px-6 py-3">2px</th>
              <th scope="col" class="px-6 py-3">4px</th>
              <th scope="col" class="px-6 py-3">6px</th>
              <th scope="col" class="px-6 py-3">12px</th>
            </tr>
          </thead>
          <tbody>
            @for (cost of costings; track $index) {
            <tr
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
            >
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                {{ cost.package }}
              </th>
              @for (c of cost.packageCostings; track $index) {
              <td class="px-6 py-4">{{ c.rate | currency : "INR" }}/person</td>
              }
            </tr>
            } @empty {
            <span class="w[100%] mx-auto text-red-500"
              >Package costing not mentioned</span
            >
            }
          </tbody>
        </table>
      </div>
    </div>

    <div class="inclusions shadow-md mt-5 p-5">
      <h1 class="text-[#064b89] font-semibold text-xl mt-5 ms-2 mb-2">
        Tour Inclusins:
      </h1>
      @for (inclusion of packageDetails.inclusions; track $index) {

      <p class="text-lg mb-2">
        <i class="fa-solid fa-check" style="color: #54a22a"></i>
        {{ inclusion.description }}
      </p>
      } @empty {
      <span class="w[100%] mx-auto text-red-500"
        >Tour Incluions not mentioned</span
      >
      }
    </div>

    <div class="inclusions shadow-md mt-5 p-5">
      <h1 class="text-[#064b89] font-semibold text-xl mt-5 ms-2 mb-2">
        Tour Exclusins:
      </h1>
      @for (exclusion of packageDetails.exclusions; track $index) {
      <p class="text-lg mb-2">
        <i class="fa-solid fa-xmark" style="color: #e71818"></i>
        {{ exclusion.description }}
      </p>
      } @empty {
      <span class="w[100%] mx-auto text-red-500"
        >Tour Excluions not mentioned</span
      >
      }
    </div>
  </div>
  <form #enquiryForm="ngForm" (ngSubmit)="sendEnquiry()" 
    class="mt-5 md:fixed md:top-[100px] md:right-[10px] md:mr-3 lg:w-1/4 md:w-1/2 bg-white flex flex-col md:ml-auto w-full md:mt-0 sm:mt-3 border border-gray-200 p-5 rounded-md shadow-2xl"
  >
    <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">
      Tour Enquiry
    </h2>
    <div class="relative mb-1">
      <label for="travelDate" class="leading-7 text-sm text-gray-600"
        >Travel Date</label
      >

      <input
        type="date"
        id="travelDate"
        name="travelDate"
        [(ngModel)]="bookingrequest.travelDate"
        required
        #travelDate="ngModel"
        [class.is-invalid]="travelDate.touched && travelDate.invalid"
        class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      />
    </div>
    <div class="relative mb-1">
      <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        #name="ngModel"
        [(ngModel)]="bookingrequest.name"
        required
        [class.is-invalid]="name.touched && name.invalid"
        class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      />
    </div>
    <div class="relative mb-1">
      <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
      <input
        type="email"
        id="email"
        #email="ngModel"
        name="email"
        [(ngModel)]="bookingrequest.email"
        required
        [class.is-invalid]="email.touched && email.invalid"
        class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      />
    </div>
    <div class="relative mb-1">
      <label for="contactNo" class="leading-7 text-sm text-gray-600"
        >Contact</label
      >
      <input
        type="tel"
        id="contactNo"
        name="contactNo"
        #contact="ngModel"
        class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        [(ngModel)]="bookingrequest.contact"
        required
        [class.is-invalid]="contact.touched && contact.invalid"
      />
    </div>
    <div class="relative mb-1">
      <label for="noOfAdults" class="leading-7 text-sm text-gray-600"
        >No of adults</label
      >
      <input
        type="number"
        id="noOfAdults"
        #noOfAdults="ngModel"
        name="noOfAdults"
        class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        [(ngModel)]="bookingrequest.noOfAdults"
        required
        [class.is-invalid]="noOfAdults.touched && noOfAdults.invalid"
      />
    </div>
    <div class="relative mb-1">
      <label for="noOfchilds" class="leading-7 text-sm text-gray-600"
        >No of childs</label
      >
      <input
        type="number"
        id="noOfchilds"
        #noOfChildens="ngModel"
        name="noOfchilds"
        [(ngModel)]="bookingrequest.noOfChildrens"
        required
        [class.is-invalid]="noOfChildens.touched && noOfChildens.invalid"
        class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      />
    </div>
    <button
    [disabled]="enquiryForm.invalid"
      class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
    >
      Send Enquiry
    </button>
  </form>
</section>
