<div class="wrapper position-fixed end-0 top-50">
    <ul class="social-icons backdrop-blur-md border-l-2 border-y-2">
      <li>
        <a
          class="instagram"
          target="_blank"
          href="https://www.instagram.com/pandatourandtravels_?igsh=endtM2JnYWhrbW5o&utm_source=qr "
          ><i class="text-[#9741d0] bi bi-instagram"></i
        ></a>
      </li>
      <!-- <li>
        <a
          class="twitter"
          target="_blank"
          href="https://twitter.com/TravelOnKashmir_ar?t=ZHqMcUqZUOe19RJnWdfdmA&s=08"
          ><i class="text-[#00aced] bx bxl-twitter"></i
        ></a>
      </li> -->
      <li>
        <a
          class="facebook"
          target="_blank"
          href="https://www.facebook.com/profile.php?id=61555385570719&mibextid=REkXMA"
          ><i class="text-[#3b5998] bi bi-facebook"></i
        ></a>
      </li>
      <li>
        <a
          class="google"
          target="_blank"
          href="https://g.page/r/CUyNDNkUI_e9EB0/review"
          ><i class="bi bi-google"></i
        ></a>
      </li>
      <!-- <li>
        <a
          class="snapchat"
          target="_blank"
          href="https://www.snapchat.com/add/TravelOnKashmir_ar"
          ><i class="text-[#fffc00] bx bxl-snapchat"></i
        ></a>
      </li> -->
      <!-- <li>
        <a
          class="youtube"
          target="_blank"
          href="https://www.youtube.com/channel/UCzpScvxYmT5uTcZChxI1UVA"
          ><i class="text-[#c00] bx bxl-youtube"></i
        ></a>
      </li> -->
    </ul>
  </div>
  