<div
  class="flex justify-evenly rounded-tl-md h-auto shadow-xl items-center flex-col social w-10 gap-1 py-2 bg-[#e9e9e9] cursor-pointer fixed right-0 top-[45%] z-50"
>
  <a [href]="links.facebbook ? links.facebbook : '/'">
    <i
      class="fa-brands text-xl fa-facebook text-blue-900 hover:-translate-y-1 hover:text-blue-800"
    ></i>
  </a>
  <a [href]="links.instagram ? links.instagram : '/'">
    <i
      class="fa-brands text-xl fa-instagram text-red-500 hover:-translate-y-1 hover:text-red-600"
    ></i>
  </a>

  <!-- <a [href]="links.google ? links.google : '/'">
    <i
      class="fa-brands text-xl fa-google text-red-500 hover:-translate-y-1 hover:text-red-500"
    ></i>
  </a> -->

  <a [href]="links.youtube ? links.youtube : '/'">
    <i
      class="fa-brands text-xl fa-youtube text-red-600 hover:-translate-y-1 hover:text-red-500"
    ></i>
  </a>

  <a
    [href]="'https://wa.me/' + links.whatsapp"
    target="_blank"
    class="btn btn-primary"
  >
    <i
      class="fa-brands text-xl fa-whatsapp text-green-400 hover:-translate-y-1 hover:text-green-500"
    ></i>
  </a>
</div>
