<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark">
    <i class="fas fa-bars m-2 cursor-pointer"></i>
  </a>
  <nav
    id="sidebar"
    class="sidebar-wrapper z-50"
    style="background-color: #fafafa !important"
  >
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a class="text-light">MT & Travels</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li class="sidebar-dropdown">
            <a class="text-light" [routerLink]="['/admin']">
              <i class="fa fa-home"></i>
              <span>Packages</span>
            </a>
          </li>

          <li class="sidebar-dropdown">
            <a class="text-light" [routerLink]="['/admin/slider']">
              <i class="fa fa-plus"></i>
              <span>Slider</span>
            </a>
          </li>

          <li class="sidebar-dropdown">
            <a class="text-light" [routerLink]="['/admin/gallery']">
              <i class="fa-solid fa-image"></i>
              <span>Gallery</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a class="text-light" [routerLink]="['/admin/contacts']">
              <i class="fa fa-users"></i>
              <span>Contacts</span>
            </a>
          </li>

          <li class="sidebar-dropdown">
            <a class="text-light" [routerLink]="['/admin/chatbot']">
              <i class="fa fa-users"></i>
              <span>Chatbot</span>
            </a>
          </li>

          <li class="sidebar-dropdown">
            <a class="text-light" [routerLink]="['/admin/hotels']">
              <i class="fa fa-building"></i>
              <span>Hotels</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a class="text-light" [routerLink]="['/admin/cabs']">
              <i class="fa fa-car"></i>
              <span>Cabs</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a class="text-light" [routerLink]="['/admin/linktree']">
              <i class="fa-solid fa-link"></i>
              <span>Link-Tree</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a class="text-light" [routerLink]="['/admin/bookings']">
              <i class="fa-solid fa-bookmark"></i>
              <span>Bookings</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a class="text-light" [routerLink]="['/admin/account']">
              <i class="fa-solid fa-gear"></i>
              <span>Account</span>
            </a>
          </li>

          <li class="sidebar-dropdown cursor-pointer" (click)="logout()">
            <a class="text-light">
              <i class="fa-solid fa-right-from-bracket"></i>
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
